@import url('https://fonts.googleapis.com/css?family=Cookie&display=swap');

html {
    height: 100%;
}
body {
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Cookie', cursive;
    font-size: 4rem;
}

ul {
    list-style: none;
}

#burgers-to-munch {
    text-align: right;
}

#burgers-munched {
    text-align: center;
}